<?xml version="1.0" encoding="UTF-8"?>
<suite paralel = "tests" name="Suite">
  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="Personal.EcommereceSeleniumProjectTests.StandAloneTestPOMChanges"/>

    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="Personal.EcommereceSeleniumProjectTests.ErrorValidations"/>

    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->


